// Component Base
@mixin app-build-component--shopping-cart-icon() {
    .shopping-cart-container {
        @apply mx-2;
        display: flex;
        align-items: center;
        border-radius: 100%;
        &:hover {
            transform: scale(1.1);
            transition: ease-in 5ms;
            cursor: pointer;
        }

        .shopping-cart-items-number {
            @apply font-semibold;
        }
    }
}

/// Build Component Base
@include app-build-component--shopping-cart-icon;
