// Component Base
@mixin app-build-component--shopping-cart-icon() {
    .shopping-cart-container {
        display: block;
        position: sticky;
        top: 90vh;
        z-index: 2000;

        .shopping-cart-display {
            @apply bg-indigo-500 shadow-md;
            bottom: 15px;
            display: flex;
            align-content: center;
            justify-content: center;
            flex-wrap: wrap;
            border-radius: 100%;
            position: relative;
            left: 95%;
            width: 3.5rem;
            height: 3.5rem;

            @include responsive-below(map-get($app--layout-breakpoints, md)) {
                width: 3rem;
                height: 3rem;
                left: 90%;
            }

            &:hover {
                @apply bg-indigo-600 shadow-lg;
                cursor: pointer;
            }

            .shopping-cart-icon {
                position: absolute;
                top: 0.5rem;
            }

            .shopping-cart-items-number {
                @apply font-semibold;
                position: absolute;
                top: 30px;
                right: 10px;

                @include responsive-below(
                    map-get($app--layout-breakpoints, md)
                ) {
                    top: 25px;
                    right: 10px;
                }
            }
        }
    }
}

/// Build Component Base
@include app-build-component--shopping-cart-icon;
