// Prefix for :root CSS variables
$variable-prefix: app-- !default;

/// Breakpoints map
$app--layout-breakpoints: (
  xs: 375px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1280px,
  xxl: 1920px,
) !default;
