// Component Base
@mixin app-build-extend--forms-base() {
    .ant-form {
        .ant-form-item {
            @apply mb-1;
            .ant-form-item-label > label {
                @apply text-sm leading-5 font-medium;
                .ant-form-item-tooltip {
                    cursor: pointer;
                }

                &.ant-form-item-required {
                    &:not(.ant-form-item-required-mark-optional) {
                        &::before {
                            display: none;
                        }
                    }
                }
            }

            .ant-form-item-label {
                padding: 0 0 4px;
            }

            .ant-form-item-explain-error {
                @apply font-medium;
                color: var(--red-600, #dc2638);
            }
        }
    }
}

/// Build Component Base
@include app-build-extend--forms-base;
