// Extend Base
@mixin app-build-extend--layout-base() {
    .ant-layout {
        .ant-layout-header {
            position: sticky;
            top: 0;
            z-index: 1;
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: array-get($app-fuchsia-palette, fuchsia-400);
            justify-items: center;
            height: max-content;
            padding: 1rem 0;
        }

        .ant-layout-footer {
            background-color: array-get($app-fuchsia-palette, fuchsia-400);
            display: flex;
            justify-content: center;
            justify-items: center;
            padding: 0;
        }
    }
}

/// Build Extend Base
@include app-build-extend--layout-base;
