// Extend Base
@mixin app-build-extend--layout-base() {
    .ant-layout {
        color: white;
        .ant-layout-header {
            position: sticky;
            top: 0;
            z-index: 1;
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: array-get($app-slate-palette, slate-800);
            justify-items: center;
            height: max-content;
            padding: 1rem 0;
            color: white;
            .ant-typography {
                color: white;
            }
        }

        .ant-layout-content {
            background-color: array-get($app-slate-palette, slate-100);
            padding: 1rem 1.2rem;
        }


        .ant-layout-footer {
            background-color: array-get($app-slate-palette, slate-800);
            z-index: 1;
            display: block;
            justify-content: center;
            justify-items: center;
            padding: 0;
            color: white;
            .ant-typography {
                color: white;
            }
            .ant-space-item {
                color: white;
            }
        }
    }
}

/// Build Extend Base
@include app-build-extend--layout-base;
