body {
    font-family: var($app--font-family-base) !important;
}

:root {
    font-family: var($app--font-family-base) !important;
}

.ant {
    font-family: var($app--font-family-base) !important;
}
