body {
    font-family: var(--#{$variable-prefix}body-font-family) !important;
}

:root {
    font-family: var(--#{$variable-prefix}body-font-family) !important;
}

.ant {
    font-family: var(--#{$variable-prefix}body-font-family) !important;
}
